---
import BackgroundVideo from '../../../components/BackgroundVideo.astro'
import CardStats from '../../../components/CardStats.astro'
import FloatingSquares from '../../../components/FloatingSquares.astro'
import PlaylistDetails from '../../../components/PlaylistDetails.astro'
import PlaylistHeader from '../../../components/PlaylistHeader.astro'
import PlaylistMedia from '../../../components/PlaylistMedia.astro'
import data from '../../../data.json'

export function getStaticPaths() {
  return data.map((playlist) => ({
    params: { id: playlist.id },
  }))
}

const playlist = data.find((p) => p.id === Astro.params.id) || data[0]

const {
  title,
  description,
  stats,
  user,
  backgroundColor,
  backgroundImage,
  backgroundAnimation,
  media,
  textColor,
  secondaryTextColor,
} = playlist
---

<main
  class="playlist-container with-transition"
  style={`
  --backgroundColor: ${backgroundColor};
  --textColor: ${textColor};
  --backgroundImage: ${backgroundImage ? `url('${backgroundImage}')` : 'none'};
  --secondaryTextColor: ${secondaryTextColor};
`}
>
  <header>
    {
      backgroundAnimation === 'floatingSquares' ? (
        <FloatingSquares />
      ) : backgroundAnimation === 'purpleVideo' ? (
        <BackgroundVideo />
      ) : (
        <div class="solid-background playlist-background" />
      )
    }
    <PlaylistHeader {...user} />
    <h1 class="playlist-title">{title}</h1>
    <CardStats {...stats} />
    <p class="playlist-description">{description}</p>
    <PlaylistMedia title={title} media={media} />
  </header>
  <PlaylistDetails />
</main>

<style is:inline>
  .playlist-container {
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
  }

  .playlist-container header {
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .playlist-container .solid-background {
    background: var(--backgroundColor);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-image: var(--backgroundImage);
    background-repeat: repeat-y;
    background-size: contain;
  }

  .playlist-container h1 {
    margin: 10px 0 15px;
    font-size: 3rem;
    text-align: center;
  }

  .playlist-container p {
    text-align: center;
    max-width: 360px;
    line-height: 1.6;
    color: var(--secondaryTextColor);
  }
</style>
