---
import BackgroundVideo from './BackgroundVideo.astro'
import CardHeader from './CardHeader.astro'
import CardMedia from './CardMedia.astro'
import CardStats from './CardStats.astro'
import FloatingSquares from './FloatingSquares.astro'

export interface Props {
  id: string
  title: string
  user: {
    avatar: string
    name: string
    date: string
  }
  stats: {
    count: string
    time: string
  }
  backgroundColor: string
  backgroundImage?: string
  backgroundAnimation?: string
  textColor: string
  secondaryTextColor: string
  media: {
    type: string
    url: string
  }
}

const {
  id,
  title,
  user,
  stats,
  backgroundColor,
  backgroundImage,
  backgroundAnimation,
  textColor,
  secondaryTextColor,
  media,
} = Astro.props
---

<a href={`/playlist/${id}`} class={`card`}>
  {
    backgroundAnimation === 'floatingSquares' ? (
      <FloatingSquares isRounded={true} />
    ) : backgroundAnimation === 'purpleVideo' ? (
      <BackgroundVideo isRounded={true} />
    ) : (
      <div class="solid-background playlist-background" />
    )
  }
  <CardHeader {...user} secondaryTextColor={secondaryTextColor} />
  <h2 class="playlist-title">{title}</h2>
  <CardStats {...stats} secondaryTextColor={secondaryTextColor} />
  <CardMedia backgroundColor={backgroundColor} title={title} media={media} />
</a>

<style
  define:vars={{
    backgroundColor,
    backgroundImage: backgroundImage ? `url('${backgroundImage}')` : 'none',
    textColor,
  }}
>
  .card {
    border-radius: 2rem;
    text-decoration: none;
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.25s;
    position: relative;

    box-shadow: var(--shadow-elevation-low);
  }

  .solid-background {
    background: var(--backgroundColor);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 2rem;

    background-image: var(--backgroundImage);
    background-repeat: repeat-y;
    background-size: contain;
  }

  .card:hover {
    transform: scale(0.97);
  }

  h2 {
    font-size: 30px;
    margin: 10px 0;
    position: relative;
    text-align: center;
  }
</style>
